@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.wrapper {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	color: #77580c;
	width: 350px;
	margin: auto;
	background-color: #fff;
}

h2 {
	color: #77580c;
	margin-top: 15px;
}

input[type="text"] {
    width: 100%;
}

input[type="submit"] {
    float: right;
}

.eachrecipe {
	margin: 5px;
	padding: 15px;
	background-color: #f1e4c4;
}

button {
	width: 130px;
	margin: 2px;
}

.titlebtn {
	font-size: 1.25rem;
}

.editbtn {
	float: right;
}

.addbtn {
	width: 150px;
}
