@import url('https://fonts.googleapis.com/css?family=Open+Sans');



.container {
	font-family: 'Open Sans', sans-serif;;
	width: 800px;
	margin: auto;
	background-color: #fff;
}

input[type="text"] {
    width: 100%;
}

input[type="submit"] {
    float: right;
}

.eachrecipe {
	margin: 5px;
}

button {
	width: 130px;
	margin-bottom: 5px;
}